body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockItem {
  background: rgb(108, 196, 137);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.blockContainer {
  position: absolute;
  top: 100px;
  left: 15%;
  margin: auto;
  width: auto;
}

.blockItemContainer {
  position: relative;
  margin: auto;
  width: 750px;
  border: 3px solid green;
  padding: 10px;
  margin-bottom: 75px;
}

.parameterList {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 10px;
  left: 125px;
}

.parameterItem {
  color: cornflowerblue;
  float: left;
  margin-left: 20px;
}

.addButton {
  position: absolute;
  top: 58px;
  width: 400px;
  transform: translateX(80%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
}

.dropdown {
  width: 150px;
  background-color: var(--bg);
  border-radius: 0;
  overflow: hidden;
}

.parameters {
  float: left;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}
